@import "tailwindcss";

@plugin "@tailwindcss/forms";

@theme {
  --color-ls-blue-50: #E9EFFF;
  --color-ls-blue-100: #D4DFFF;
  --color-ls-blue-200: #A9BEFF;
  --color-ls-blue-300: #7E9DFF;
  --color-ls-blue-400: #537CFF;
  --color-ls-blue-500: #316BFF;
  --color-ls-blue-600: #2755CC;
  --color-ls-blue-700: #1E4099;
  --color-ls-blue-800: #142A66;
  --color-ls-blue-900: #0B1533;

  --color-ls-sand-50: #FFFDF7;
  --color-ls-sand-100: #FFFAEE;
  --color-ls-sand-200: #F2EAE0;
  --color-ls-sand-300: #E3D6C8;
  --color-ls-sand-400: #D3C2B6;
  --color-ls-sand-500: #B5A699;
  --color-ls-sand-600: #968A7E;
  --color-ls-sand-700: #776F65;
  --color-ls-sand-800: #59544D;
  --color-ls-sand-900: #3C3834;

  --color-ls-orange-50: #FEF3E9;
  --color-ls-orange-100: #FCE7D3;
  --color-ls-orange-200: #FACFA7;
  --color-ls-orange-300: #F7B77B;
  --color-ls-orange-400: #F49B4F;
  --color-ls-orange-500: #F07F23;  
  --color-ls-orange-600: #C0661C;
  --color-ls-orange-700: #904C15;
  --color-ls-orange-800: #60330E;
  --color-ls-orange-900: #301907;

  --color-ls-green-50: #F2FBF4;
  --color-ls-green-100: #E5F7E9;
  --color-ls-green-200: #CCF0D3;
  --color-ls-green-300: #B2E8BD;
  --color-ls-green-400: #98DFA7;
  --color-ls-green-500: #83D495;
  --color-ls-green-600: #69AA78;
  --color-ls-green-700: #4F7F5A;
  --color-ls-green-800: #34553C;
  --color-ls-green-900: #1A2A1E;

  --color-ls-slate-50: #EEF4FA;
  --color-ls-slate-100: #DCE8F5;
  --color-ls-slate-200: #BBCFE6;
  --color-ls-slate-300: #93AECF;
  --color-ls-slate-400: #6B8DB8;
  --color-ls-slate-500: #446CA1;
  --color-ls-slate-600: #2D4D77;
  --color-ls-slate-700: #1A3253;
  --color-ls-slate-800: #012445;
  --color-ls-slate-900: #00152A;
}

body {
  color: var(--color-ls-slate-700);
  background: var(--color-ls-sand-100);
  font-family: var(--font-inter);
}